.landing-background {
  background-image: url("/src//assets/Images/landing-page.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
